= simple_form_for @user do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  .span8
    = f.input :name, label: 'Navn'
  .span2

  .span8
    = f.input :email, label: 'E-mail'
  .span2

  .span8
    = f.input :email, label: 'E-mail'
  .span2

  .span8
    = f.input :account, collection: Account.all, label: 'Adgang', as: :select
  .span2

  .span12
    = f.submit 'Save', class: 'btn btn-danger'
