= simple_form_for @section do |f|
  - if @section.errors.any?
    #error_explanation
      %h2= "#{pluralize(@section.errors.count, "error")} prohibited this section from being saved:"
      %ul
        - @section.errors.full_messages.each do |msg|
          %li= msg

  .row
    .form-group
      .col-md-8
        = f.input :header, label: 'Overskrift', as: :string, input_html: {size: 40, class: 'form-control'}
  .row
    .form-group
      .col-md-8
        = f.input :article, as: :ckeditor, input_html: { ckeditor: { toolbar: 'mini', language: 'da' } }
        = f.input :user_id, as: :hidden, input_html: { value: current_user.id }
        = f.input :page_id, as: :hidden, input_html: { value: params[:page_id] }
        = f.input :id, as: :hidden, input_html: { value: params[:id] } if @section.persisted?
        - if !@section.persisted?
          - page = Page.find(params[:page_id])
          = f.input :order, as: :hidden, input_html: { value: page.sections.count }
      .col-md-4
        %label Sidebar
        =# collection_select :sidebar, :sidebar_id, current_domain.sidebars, :id, :name, { prompt: 'Vælg en sidebar' }, { class: 'form-control' }
        %label Filer
        = render 'uploads/form' if @section.persisted?
  .row
    %hr
  .row#uploaded
    - @section.uploads.each do |upload|
      .col-md-3
        .alert.alert-info
          %h5
            = link_to upload.title, upload
            = link_to upload_path, method: :delete, confirm: 'Er du sikker?' do
              %i.fa.fa-trash-o
  .row
    %hr
  .row
    .form-group
      .col-md-4.btn-group
        = f.submit 'Gem', class: 'btn btn-primary'
        = link_to 'Tilbage', sections_path, class: 'btn btn-default'
