%article.col-md-12
  - if section.images.present?
    - section.images.each do |image|
      .img-rounded= image_tag image.file_url(:medium)
  = section.article
  .row
    - if section.uploads.present?
      - section.uploads.each do |file|
        .col-md-3.alert.alert-info
          %i.fa-archive= file.title
- if current_user.admin?
  .col-md-12
    .btn-group
      = link_to 'Redigér', edit_section_path(section), class: 'btn btn-primary'
      = link_to 'Nyt afsnit', new_section_path(:page_id => @page.id), class: 'btn btn-default'