= simple_form_for @setting do |f|
  - if @setting.errors.any?
    #error_explanation
      %h2= "#{pluralize(@setting.errors.count, "error")} prohibited this setting from being saved:"
      %ul
        - @setting.errors.full_messages.each do |msg|
          %li= msg

  .row
    .form-group
      .col-xs-6
        = f.input :domain, label: 'Domæne', as: :string, input_html: { size: 40, class: 'form-control' }
      .col-xs-6
        = f.input :name, label: 'Navn', as: :string, input_html: { size: 40, class: 'form-control' }
  .row
    .form-group
      %label.col-xs-2
        Aktivér login
        = f.input :login, label: false, as: :boolean, input_html: {}
      %label.col-xs-2
        Aktivér footer
        = f.input :footer, label: false, as: :boolean, input_html: {}
  .row
    .form-group
      .col-xs-12
        = f.input :info, label: 'Forside', as: :text, input_html: {size: 40, class: 'form-control'}
  .row
    %hr
  .row
    .form-group
      .col-xs-3
        = f.input :analytics_api, label: 'Google Analytics API', as: :string, input_html: {size: 40, class: 'form-control'}
      .col-xs-3
        = f.input :googleplus, label: 'Google+ API', as: :string, input_html: {size: 40, class: 'form-control'}
      .col-xs-3
        = f.input :facebook, label: 'Facebook API', as: :string, input_html: {size: 40, class: 'form-control'}
      .col-xs-3
        = f.input :linkedin, label: 'LinkedIn API', as: :string, input_html: {size: 40, class: 'form-control'}
  .row
    %hr
  .row
    .col-xs-12
      #setting_css= @setting.css
  .row
    %hr
  .row
    .col-xs-12
      #setting_js= @setting.js
  .row
    %hr
  .row
    .form-group
      .col-xs-12
        .btn-group
          = link_to 'Annuller', root_path, class: 'btn btn-default'
          = submit_tag 'Gem', :class => 'btn btn-primary'
  :javascript

    var csseditor = ace.edit("setting_css");
    var jseditor = ace.edit("setting_js");

    csseditor.setTheme("ace/theme/clouds");
    csseditor.setSession().setMode("ace/mode/stylesheet");
    jseditor.setTheme("ace/theme/monokai");
    jseditor.setSession().setMode("ace/mode/javascript");

