= simple_form_for @setting do |f|
  - if @setting.errors.any?
    #error_explanation
      %h2= "#{pluralize(@setting.errors.count, "error")} prohibited this setting from being saved:"
      %ul
        - @setting.errors.full_messages.each do |msg|
          %li= msg

  .row
    .form-group
      .col-xs-6
        = f.input :domain, label: 'Domæne', as: :string, input_html: { size: 40, class: 'form-control' }
      .col-xs-6
        = f.input :name, label: 'Navn', as: :string, input_html: { size: 40, class: 'form-control' }
  .row
    .form-group
      %label.col-xs-2
        Aktivér login
        = f.input :login, label: false, as: :boolean, input_html: {}
      %label.col-xs-2
        Aktivér footer
        = f.input :footer, label: false, as: :boolean, input_html: {}
  .row
    .form-group
      .col-xs-12
        = f.input :info, label: 'Forside', as: :text, input_html: {size: 40, class: 'form-control'}
  .row
    %hr
  .row
    .form-group
      .col-xs-3
        = f.input :analytics_api, label: 'Google Analytics API', as: :string, input_html: {size: 40, class: 'form-control'}
      .col-xs-3
        = f.input :googleplus, label: 'Google+ API', as: :string, input_html: {size: 40, class: 'form-control'}
      .col-xs-3
        = f.input :facebook, label: 'Facebook API', as: :string, input_html: {size: 40, class: 'form-control'}
      .col-xs-3
        = f.input :linkedin, label: 'LinkedIn API', as: :string, input_html: {size: 40, class: 'form-control'}
  .row
    %hr
  .row
    .col-xs-10
      = hidden_field_tag 'setting[css]', @setting.css
      #editor_css<
        = preserve do
          = @setting.css
  .row
    %hr
  .row
    .col-xs-10
      = hidden_field_tag 'setting[js]', @setting.js
      #editor_js<
        = preserve do
          = @setting.js
  .row
    %hr
  .row
    .form-group
      .col-xs-12
        .btn-group
          = submit_tag 'Gem', :class => 'btn btn-primary'
          = link_to 'Annuller', root_path, class: 'btn btn-default'

  :javascript
    var editors = {};

    editors['css'] = ace.edit('editor_css');
    editors['js'] = ace.edit('editor_js');
    $(function(){
      $('.edit_setting').on('submit',function(){
        $('#setting_css').val(editors['css'].getSession().getValue());
        $('#setting_js').val(editors['js'].getSession().getValue());
        return true;
      });
    });
